// WATCHES
.watches-container {
  width: 84rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(249, 249, 249);
  margin-bottom: 6rem;

  @include respond(hybrid-1400) {
    width: 100%;
    padding: 0 2rem;
  }
  @include respond(tab-port) {
    width: 100%;
    padding: 0 1.9rem;
  }
  @include respond(phone) {
    width: 100%;
  }

  @include respond(max-279px) {
    width: auto;
  }
}
.watch-block {
  display: flex;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  width: 320px;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(181, 181, 181, 0.2);
  border-radius: 0.3rem;

  @include respond(hybrid-1400) {
    width: 32%;
  }
  @include respond(tab-port) {
    width: 48%;
  }
  @include respond(phone) {
    width: 100vw;
  }
}

.watch-name {
  color: darken(#404040, 5%);
  font-size: 0.875rem;
}

.watch-details {
  .name {
    margin-bottom: 0.3rem;
    padding: 0.5rem 0;
  }
}

.price {
  height: 0.9rem;
  font-size: 0.875rem;
  color: darken(#1f1f1f, 50%);
  font-weight: 700;
  display: flex;
  justify-content: center;

  .full-price {
    height: 1rem;
    align-self: flex-end;
  }
  .watch-price {
    height: 100%;
    display: flex;
  }
}

img {
  width: 160px;
  height: 320px;
  object-fit: contain;
}

.add-to-cart {
  color: #ff2d3b;
  font-weight: 600;
  margin-top: 1.1rem;
  padding: 0.6rem;
  cursor: pointer;
}
