/** SINGLE PRODUCT PAGE **/
.related-link {
  font-size: 1.4rem;
  height: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 3rem;
}
.main-content {
  &.product-page {
    margin-top: 5rem;
  }
}
.single-product-layout {
  min-height: 40rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem 0 8rem;
  flex-grow: 1;

  .divider {
    height: 10rem;
    background-color: red;
  }

  .top-watch-block__single {
    // width: 80rem;
    width: 70rem;
    display: flex;

    .leftside-single-block {
      width: 26rem;

      img {
        width: 320px;
        height: 500px;
      }
    }
    .rightside-single-block {
      height: 25rem;
      width: 40rem;
      padding: 1.8rem 1rem 0 2rem;

      .name {
        margin-bottom: 0.6rem;
      }

      .description {
        p {
          line-height: 28px;
          color: #687188;
          padding-bottom: 2rem;
        }
      }

      .price {
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        .full-price {
          font-size: 1.1rem;
          color: #ff2d3b;
        }
        .watch-price {
          height: auto;
        }
      }

      .watch-name {
        font-size: 1.4rem;
        font-weight: 700;
      }
      .quantity__cart {
        display: flex;
        margin-bottom: 1.6rem;

        .quantity-count-input {
          border: 1px solid #ddd;
          text-align: center;
          margin: 3px;
          width: 55px;
          height: 36px;
          line-height: 25px;
          font-weight: 400;
          font-size: 1rem;
        }

        .increment,
        .decrement {
          display: flex;
          height: 36px;
          align-items: center;
          width: 36px;
          justify-content: center;
          font-weight: 700;
          color: #000;
          margin: 3px;
          line-height: 34px;
          background-color: #eee;
          border-radius: 20rem;
          font-size: 0.8rem;
        }
      }
      .add-to-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: lighten(#ff2d3b, 3%);
        border-radius: 0.3rem;
        width: 15rem;
        height: 3rem;
        cursor: pointer;
      }
    }

    .bottom-rightside-single-block {
      margin-top: 2rem;
    }
  }

  .bottom-watch-block__single {
    width: 70rem;
    display: flex;

    .tabs-list {
      display: flex;
      border-bottom: 1px solid lighten(#e6e7e8, 1%);
      font-weight: 500;

      .tabs-list-item {
        display: block;
        padding: 2rem 1rem 0.8rem 1rem;
        text-transform: uppercase;
        cursor: pointer;

        &.selected {
          border-bottom: 2px solid lighten(#ff2d3b, 3%);
        }
      }
    }

    .tab-content {
      margin-top: 2.5rem;
      p {
        line-height: 28px;
        margin-bottom: 2rem;
        color: #687188;

        &:last-child {
          margin-bottom: 6rem;
        }
      }
    }
  }
}
