.main-wrapper {
  background-color: rgb(249, 249, 249);
}

.selected {
  color: #ff2d3b;
}

hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
}

/** HEADING **/
.cart-heading,
.page-heading {
  margin-top: 4rem;
  margin-bottom: 4.5rem;
  display: flex;
  justify-content: center;
  h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
  }
}

/** MAIN-CONTENT **/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85rem;
  background-color: rgb(249, 249, 249);
}

/** LOADER SPINNER **/
.loader-spinner {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

/** HIDE DEFAULT NUMBER INPUT STYLING **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
