/** SIGN-IN & SIGN-UP PAGES **/

.main-wrapper {
  &.sign-in-page,
  &.sign-up-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lighten(#f9f9f9, 1%);

    .sign-up-page-content {
      form {
        .input-container:nth-child(2) {
          margin-bottom: 1rem;
        }
      }
    }

    .sign-in-page-content,
    .sign-up-page-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.3rem;
      align-self: center;
      width: 50rem;
      min-height: 30rem;

      .brand {
        margin-bottom: 3rem;
      }

      h2 {
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-weight: 600;

        @include respond(mini-phone) {
          font-size: 1.3rem;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-input,
        .password-input,
        .email-input {
          width: 25rem;
          height: 3.1rem;
          border: none;
          border-width: 0px;
          background-color: darken(#f5f5f5, 1%);
          padding-left: 1rem;
          outline: none;
          font-size: 1.1rem;
          font-weight: 500;

          &::placeholder {
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 700;
          }

          @include respond(max-599px) {
            width: 100%;
            height: 2.8rem;
          }
          @include respond(mini-phone) {
            width: 100%;
            height: 2.2rem;
          }
        }

        .input-container {
          border-radius: 0.3rem;
          padding: 0.4rem;
          background-color: darken(#f5f5f5, 1%);
          display: flex;
          align-items: center;

          @include respond(max-599px) {
            width: 100%;
          }
        }

        .input-container:first-child {
          margin-bottom: 1rem;
        }

        .sign-in-button,
        .sign-up-button {
          font-family: 'Montserrat', sans-serif;
          height: 3rem;
          width: 11rem;
          border: none;
          background: none;
          padding: 0;
          color: white;
          cursor: pointer;
          outline: none;
          background-color: #ff2d3b;
          border-radius: 4rem;
          margin-top: 2rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
        }

        @include respond(max-599px) {
          width: 100%;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      @include respond(max-599px) {
        width: 100%;
      }
    }
  }
}
